.side-bar {
  background-color: #393a44;
  min-width: 200px;
  height: 100vh;
  padding-top: 5px;
}

.main-body {
  margin: 15px 5px;
}

@media (max-width: 50em) {
  .side-bar {
    height: auto;
  }
}