#tableGrid .card {
  border-radius: 50px;
  position: relative;
}

/* Mel - help with position of badge to stay inside card */
.badge {
  position: absolute;
  bottom: 130px;
  left: 170px;
}

#tableGrid .alert {
  margin-bottom: 0px;
  text-align: center;
}