/**
  Font and Colors
**/


@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');

/* Colors:
    Gray: #1F2A38
    Teal: #07424D
    Salmon: #FF5958
    White: #F8F8F4
*/ 

body {
    box-sizing: border-box;
    background-image: url('https://api.iconify.design/uil/restaurant.svg?color=%231f2a38');
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 100% -80%;
    background-attachment: fixed;
    font-family: 'Khula', sans-serif;
}

.side-bar {
    background-color: #1F2A38;
}
.sidebar-brand-text {
    color: #F8F8F4;
}
.navbar-dark .navbar-nav .nav-link {
    color: #aeb4bc;
}

h1 {
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 2px;
    color: #1F2A38;
}

h2 {
    color: #1F2A38;
}

.card {
    background-color: #F8F8F4;
}
.card-header,
.card-footer {
    background-color: #F8F8F4;
}

.btn-group {
    background-color: #1F2A38;
    border-radius: 10px;
}

.badge {
    background-color: #07424D;
    color: white;
}

.form-control {
    opacity: 0.85;
    margin-bottom: 8px;
    filter: drop-shadow(5px -2px 0.65rem #1F2A38);
}

.form-label {
  background-color: white;
  padding: 2px 5px;
  border-radius: 5px;
  opacity: 0.9;
}


/* Media query for tablet at portrait view */
@media (max-width: 50em) {
  body {
    background-image: url('https://api.iconify.design/uil/restaurant.svg?color=%231f2a38');
    background-size: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -350%;
  }
}