/**
  Font and Colors
**/


@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');

/* Colors:
    Gray: #1F2A38
    Teal: #07424D
    Salmon: #FF5958
    White: #F8F8F4
*/ 

body {
    background-color: white;
    box-sizing: border-box;
    font-family: 'Khula', sans-serif;
}

.side-bar {
    background-color: #1F2A38;
}
.sidebar-brand-text {
    color: #F8F8F4;
}
.navbar-dark .navbar-nav .nav-link {
    color: #aeb4bc;
}

h1 {
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 2px;
    color: #1F2A38;
}

h2 {
    color: #1F2A38;
}

.card {
    background-color: #F8F8F4;
}
.card-header,
.card-footer {
    background-color: #F8F8F4;
}

.btn-group {
    background-color: #1F2A38;
    border-radius: 10px;
}

.badge {
    background-color: #07424D;
    color: white;
}