/**
  Font, Colors, Background
**/


@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');

/* Colors:
    Gray: #1F2A38
    Teal: #07424D
    Salmon: #FF5958
    White: #F8F8F4
*/ 


body {
  box-sizing: border-box;
  background: linear-gradient(rgba(250, 250, 250, 0.1),
    rgba(250, 250, 250, 0.1)), url('https://api.iconify.design/uil/restaurant.svg?color=%231f2a38');
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: top 60px right 20px;
  background-attachment: scroll;
  font-family: 'Khula', sans-serif;
}

/* Side bar spans height of page */
.container-fluid .side-bar {
  padding-bottom: 100%;
}

.side-bar {
  background-color: #1F2A38;
}

.sidebar-brand-text {
  color: #F8F8F4;
}

.navbar-dark .navbar-nav .nav-link {
  color: #aeb4bc;
}

h1 {
  font-weight: 900;
  font-size: 3em;
  letter-spacing: 2px;
  color: #1F2A38;
}

h2 {
  color: #1F2A38;
}

.card {
  background-color: #F8F8F4;
}
.card-header,
.card-footer {
  background-color: #F8F8F4;
}

.btn {
  padding: 7px 15px 4px;
}

.btn-group {
  background-color: #1F2A38;
  border-radius: 10px;
}

.badge {
  background-color: #07424D;
  color: white;
}

.form-control,
.selections {
  opacity: 0.85;
  margin-bottom: 8px;
  filter: drop-shadow(5px -2px 0.65rem #1F2A38);
}

.form-label,
.table-select {
  background-color: white;
  padding: 2px 5px;
  border-radius: 5px;
  opacity: 0.9;
}


/* Media query for tablet at portrait view */
@media (max-width: 45em) {
  body {
    background: linear-gradient(rgba(250, 250, 250, 0.1),
      rgba(250, 250, 250, 0.1)), url('https://api.iconify.design/uil/restaurant.svg?color=%231f2a38');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top 300px right -10px;
    background-attachment: scroll;
  }

  .container-fluid .side-bar {
    height: 140px;
    padding-bottom: 0px;
  }
}