.reservation-card .card,
.reservation-card .card-header,
.reservation-card .card-footer {
  border-radius: 15px;
}

.reservation-card
.card-header 
.btn {
  padding: 3px 15px 0px;
}

.reservation-card {
  margin-top: 10px;
}

.reservation-card
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 20px;
}

#resCardFooter {
  border: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  padding-bottom: 5px;
  text-align: right;
}

/* Padding adjustments because of uncentered font */
#statusBadge {
  background-color: #34b3b5e3;
  border-radius: 20px;
  padding: 15px 20px 8.5px;
  padding-right: 18px;
  margin-top: 7.5px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}